*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    background-image:url(images/headphones_hero_1.jpg) ;
    background-size: cover;
    background-position: center;
}
.header{
    
    color: white;
    padding: 20px;
    text-align: center;
    position: relative;
    background-color: linear-gradient(left, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(images/headphones_hero_1.jpg);

}
.navbar{
    display: flex;
    justify-content: center;
    display: flex;
    justify-content: space-between;
    
}
.navbar a{
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    display: flex;
}
.navbar ul{
    display: flex;     
  gap: 1rem;            
  list-style: none;       
  margin: 0; padding: 0;
}
.logo{
    font-size: 24px;
    font-weight: bold;
}
.navbar a:hover{
    background-color: #ddd;
    color: black;
}
.hero{
    text-align: center;
    padding: 100px 20px;
    color: white;
}
.hero h1{
    font-size: 48px;
    margin-bottom: 20px;
}
.hero p{
    font-size: 24px;
    margin-bottom: 40px;
}
.hero-paragraph{
    font-size: 18px;
    margin-bottom: 20px;
}
.hero button{
    padding: 10px 20px;
    font-size: 18px;
    background-color: #ff5722;
    color: white;
    border: none;
    cursor: pointer;
}
.hero button:hover{
    background-color: #e64a19;
}
.shop-btn{
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #ff5722;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}