/* Reset default spacing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;

}
.navbar {
  display: flex;
  flex-direction: row;/* logo left, links right */
  align-items: center;
  padding: 1rem 2rem;
  background-color: #f5f5f5;
}
.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;}
main {
  display: flex;
  flex: auto;
  flex-direction: row;
  gap: 20px;
  padding: 20px
}
article {
  flex: 1;
  padding: 20px;
  background-color: rgb(222, 211, 255);
    overflow-y: auto;
    box-shadow: rgb(225, 53, 53);
    border-radius: 8px;
}
aside {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
   border-left: 1px solid #ccc;
  background-color: rgb(37, 13, 213);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);

}
footer {
  padding: 20px;
  text-align: center;
  background-color: #f8f9fa;
  border-top: 1px solid #dee2e6;
}
nav {
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

